spring:
  autoconfigure:
    exclude: []

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true #false ?
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 1000
          order_inserts: true
          order_updates: true
    open-in-view: false
    database: mysql

  jackson:
    property-naming-strategy: SNAKE_CASE

  jwt:
    header: ${JWT_HEADER:Authorization}
    prefix: ${JWT_PREFIX:Bearer}
    secret: ${JWT_SECRET:JWT_SECRET=myVeryLongSecretKeyForJwtTokenGeneration123456789}
    accessExpiration: 360000000000

  threads:
    virtual:
      enabled: true
      
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}

      embedding:
        options:
          model: text-embedding-ada-002

      chat:
        options:
          model: gpt-3.5-turbo
          temperature: 0.5
          max-tokens: 3000

    vectorstore:
      chroma:
        client:
          host: http://localhost
          port: 8000
        tenant-name: default_tenant
        database-name: default_database
        collection-name: vector_store
        initialize-schema: true

welfare:
  api:
    service-key: ${WELFARE_SERVICE_KEY}

#server:
  #port: 8083
