spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true #false ?
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 1000
          order_inserts: true
          order_updates: true
    open-in-view: false
    database: mysql

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  jackson:
    property-naming-strategy: SNAKE_CASE

  jwt:
    header: ${JWT_HEADER}
    prefix: ${JWT_PREFIX}
    secret: ${JWT_SECRET}
    accessExpiration: 3600
    refreshExpiration: 604800

  threads:
    virtual:
      enabled: true