name: Facto CI/CD

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  CI-CD:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Gradle Caching
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: make application.yml
        run: |
          cd ./src/main/resources
          touch ./application.yml
          echo "${{ secrets.YML }}" > ./application.yml

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker build & push
        run: |
          docker build -f Dockerfile -t park1075/facto:latest .
          docker push park1075/facto:latest

      - name: Deploy to home server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOME_HOST }}
          username: ${{ secrets.HOME_USER }}
          key: ${{ secrets.HOME_SSH_KEY }}    # password 대신 key 사용
          port: 2223
          script: |
            echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
            
            docker stop facto-server || true
            docker rm facto-server || true
            
            docker pull park1075/facto:latest
            
            docker run -d \
              --name facto-server \
              -p 8080:8080 \
              --restart unless-stopped \
              park1075/facto:latest
            
            docker image prune -f